target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

#Ignore generated log files
*.log
*.out
#Gradle
.gradle/
build/
notes
notes.txt

# sometimes IntelliJ will add this file to CWD when running a test.
# Please, IntelliJ, do not ask me to add this externally added file to git.  Thanks.
.attach_pid*
